<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Elon Musk</h1>
    <li><a href="home">Home</a></li>
    <p>
        Childhood and family
Further information: Musk family
Elon Reeve Musk was born on June 28, 1971 in Pretoria, one of the capital cities of South Africa,[7][8] and was baptized into an Anglican church.[9] Musk has British and Pennsylvania Dutch ancestry.[10][11] His mother is Maye Musk (née Haldeman), a model and dietitian born in Saskatchewan, Canada and raised in South Africa.[12][13][14] His father is Errol Musk, a South African electromechanical engineer, pilot, sailor, consultant, and property developer who was a half-owner of a Zambian emerald mine near Lake Tanganyika.[15][16] Musk has a younger brother Kimbal (born 1972) and a younger sister Tosca (born 1974).[14][17]

Musk's family was wealthy during his youth. His father was elected to the Pretoria City Council as a representative of the anti-apartheid Progressive Party, with his children reportedly sharing their father's dislike of apartheid.[7] His maternal grandfather, Joshua Haldeman, was an adventurous American-born Canadian who took his family on record-breaking journeys in a single-engine Bellanca airplane to Africa and Australia.[18][19][20] After his parents divorced in 1980, Musk mostly lived with his father.[10] Musk later regretted his decision as he has become estranged from his father.[21] He has a paternal half-sister and a half-brother.[18][22]

In his biography, Ashlee Vance described Musk as an awkward and introverted child.[23] When Musk was 10, he developed an interest in computing and video games, so he brought a Commodore VIC-20[24][vague] and taught himself programming from an user manual. At age 12, he sold his BASIC-based game Blastar to PC and Office Technology magazine for approximately $500.[25][26]
    </p>
</body>
</html>